

div.skeleton {
    background:  hsl(200, 2%, 25%);
    border-radius: var(--radius-box);
    position: relative;
}

div.skeleton::before {
    position: absolute;
    content: '';
    left: 0;
    background: linear-gradient(
        90deg, hsla(200, 2%, 25%, 0) 42%, 
        hsla(210, 2%, 30%, 0.7) 50%, 
        hsla(200, 2%, 25%, 0) 58%
    ); 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: var(--radius-box);
    animation: skeletonSlide 0.7s infinite ease-in-out;
}

.skeleton-image {
    height: 150px;
}

.skeleton-title {
    height: 37px;
}

.skeleton-text {
    height: 18px;
}

.skeleton-attribution {
    height: 15px;
}

@keyframes skeletonSlide {
    from {
        background-position: -180px 0;
    }

    to {
      background-position: 180px 0;
    }
}